{
  "extends": ["react-app", "airbnb", "plugin:jsx-a11y/recommended"],
  "plugins": ["jsx-a11y"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "linebreak-style": 0,
    "global-require": 0,
    "ESlint linebreak-style": [0, "error", "windows"]
  }
}